
#================
# METABASE {{mb.metabase_env.upper()}}
#================
module "metabase_{{mb.metabase_env}}" {
  source = "git::git@bitbucket.org:indiciumtech/indicium_terraform.git//modules/metabase?ref={{mb.metabase_module_version}}"

  METABASE_DB_HOST = var.METABASE_DB_HOST
  METABASE_DB_USER = var.METABASE_DB_USER
  METABASE_DB_PASSWORD = var.METBASE_DB_PASSWORD
  METABASE_DB_PORT = var.METABASE_DB_PORT
  METABASE_DB_NAME = var.METABASE_{{mb.metabase_env.upper()}}_DB_NAME
  METABASE_VERSION = "{{mb.metabase_image_version}}"

  client_name = "{{mb.client_name}}"
  metabase_env = "{{mb.metabase_env}}"
  metabase_port = {{mb.metabase_host_port}}
  aws_region = var.AWS_REGION
  ecs_cluster_id = module.ecs.ecs_cluster_id
  vpc_id = module.vpc.vpc_id
}
