{% if mb.first_metabase %}
variable "METABASE_DB_HOST" {
  type = string
}

variable "METABASE_DB_USER" {
  type = string
}

variable "METABASE_DB_PASSWORD" {
  type = string
}

variable "METABASE_DB_PORT" {
  type = string
}
{%- endif %}

variable "METABASE_{{mb.metabase_env.upper()}}_DB_NAME" {
  type = string
}