{% if mb.first_metabase %}
export TF_VAR_METABASE_DB_HOST="{{mb.metabase_db_host}}"
export TF_VAR_METABASE_DB_USER=$TF_VAR_RDS_USERNAME
export TF_VAR_METABASE_DB_PASSWORD=$TF_VAR_RDS_PASSWORD
export TF_VAR_METABASE_DB_PORT=5566
{% endif %}
export TF_VAR_METABASE_{{mb.metabase_env.upper()}}_DB_NAME="metabase_{{mb.client_name}}_{{mb.metabase_env}}"
