
module "cloudwatch" {
  source = "git::git@bitbucket.org:indiciumtech/indicium_terraform.git//modules/cloudwatch?ref={{sns.module_version}}"

  client_name = "{{sns.client_name}}"
  aws_region  = "{{sns.aws_region}}"

  monthly_billing_threshold = "{{sns.monthly_billing_threshold}}"
  currency                  = "{{sns.currency}}"
  aws_account_id            = "{{sns.aws_account_id}}"
}
