

module "redshift" {
  source = "git::git@bitbucket.org:indiciumtech/indicium_terraform.git//modules/redshift?ref={{redshift.module_version}}"

  client_name         = "{{redshift.client_name}}"
  redshift_subnets    = [module.vpc.subnet_public_1_id, module.vpc.subnet_public_2_id]
  security_group_id   = aws_security_group.redshift_sg.id
  REDSHIFT_USERNAME   = var.REDSHIFT_USERNAME
  REDSHIFT_PASSWORD   = var.REDSHIFT_PASSWORD
  cluster_type        = "{{redshift.cluster_type}}"
  node_type           = "{{redshift.node_type}}"
  skip_final_snapshot = "{{redshift.skip_final_snapshot}}"

  aws_sns_topic                      = module.cloudwatch.aws_sns_topic.alarm.arn
  redshift_disk_high_usage_threshold = "{{redshift.disk_usage_threshold}}"
  redshift_cpu_alarm_threshold       = "{{redshift.cpu_threshold}}"
  redshift_disk_high_usage_statistic = "{{redshift.high_usage_disk_statistic}}"
  redshift_cpu_alarm_statistic       = "{{redshift.cpu_alarm_statistic}}"
}
