
resource "aws_security_group" "indicium_redshift_sg" {
  vpc_id      = module.vpc.vpc_id
  name        = "indicium-redshift-sg"
  description = "Security Group from Redshift Resource"

  egress {
    from_port   = 0
    to_port     = 0
    protocol    = "-1"
    cidr_blocks = [
      "0.0.0.0/0",
    ]
  }

  ingress {
    from_port       = 5439
    to_port         = 5439
    protocol        = "tcp"
    security_groups = [
      aws_security_group.indicium_ecs_sg.id
    ]
    cidr_blocks = [
      local.pritunl_ip, # Pritunl

      {%- if redshift.allow_bitbucket_to_redshift %}
      "34.199.54.113/32",  # BitBucket pipelines whitelist ip 1
      "34.232.25.90/32",   # BitBucket pipelines whitelist ip 2
      "34.232.119.183/32", # BitBucket pipelines whitelist ip 3
      "34.236.25.177/32",  # BitBucket pipelines whitelist ip 4 
      "35.171.175.212/32", # BitBucket pipelines whitelist ip 5
      "52.54.90.98/32",    # BitBucket pipelines whitelist ip 6
      "52.202.195.162/32", # BitBucket pipelines whitelist ip 7
      "52.203.14.55/32",   # BitBucket pipelines whitelist ip 8
      "52.204.96.37/32",   # BitBucket pipelines whitelist ip 9
      "34.218.156.209/32", # BitBucket pipelines whitelist ip 10
      "34.218.168.212/32", # BitBucket pipelines whitelist ip 11
      "52.41.219.63/32",   # BitBucket pipelines whitelist ip 12
      "35.155.178.254/32", # BitBucket pipelines whitelist ip 13
      "35.160.177.10/32",  # BitBucket pipelines whitelist ip 14
      "34.216.18.129/32",  # BitBucket pipelines whitelist ip 15
      {%- endif %}
    ]
  }

  tags = {
    Name = "indicium-redshift-sg"
  }
}
